@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	overflow: hidden;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	height: 100vh;
  margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	
	-webkit-perspective: 1px;
	perspective: 1px;
}

header {
	position: relative;
	z-index: 44;
	text-align: center;
	padding: 3em 0 1em;
	background-color: #afdde8 ;
}

.nav {
    margin: 0;
    color: #fff;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
		height: 0;
		transition: all 250ms linear;
}

.nav-label {
	cursor: pointer;
	display: inline-block;
	width: 40px;
	position: absolute;
	right: 1em;
	top: 1em;
	
}

.nav-label img {
	display: block;
	width: 100%;
}

.nav a {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	color: #fff;
}

.nav a:hover {
	background-color: #08273d;
	color: #fff;
}

.nav-check {
	position: absolute;
	top: -3em;
	
}

.nav-check:checked ~ .nav {
	height: 10em;
	transition: all 250ms linear;
}

img {
	width: 100%;
}


.parallax-group {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.back {
	-webkit-transform: translateZ(-1px) scale(2);
	transform: translateZ(-1px) scale(2);
	position: relative;
	top: calc(((100vh - 84.27vw) / 4) * -2);
	z-index: 1;
	display: block;
	height: 180vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url(../images/parliament_building.svg);
	background-size: cover;
  background-position: center;
	
}

.front {
	-webkit-transform: translateZ(-0.5px) scale(2.5);
	transform: translateZ(-0.5px) scale(2.5);
	position: relative;
	top: calc(((100vh - 84.27vw) / 4) * -2);
	z-index: 1;
	display: block;
	height: 30vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	text-align: center;
	background-image: url(../images/Second_Building-01-01.png);
	background-size: cover;
  background-position: center;
}

.white {
	-webkit-transform: translateZ(-0.3px) scale(2.5);
	transform: translateZ(-0.3px) scale(2.5);
	position: relative;
	top: calc(((100vh - 84.27vw) / 4) * -2);
	z-index: 1;
	display: block;
	height: 30vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url(../images/Second_Building-01-01.png);
	background-size: cover;
  background-position: center;
	
}

h1 {
	-webkit-transform: translateZ(-4px) scale(4.5);
	transform: translateZ(-4px) scale(4.5);
	position: absolute;
	top: -200px;
	width: 100%;
	text-align: center;
	color: #fff;
	z-index: 3;
}

h2 {
	margin: 0;
	
}


.branding {
	position: relative;
	z-index: 22;
	text-align: center;
	width: 100%;
	background-image: url(../images/white_building-01-01.png);
	atransform: scale(2);
	background-size: cover;
	padding-top: 8em;
	margin-top: -30em;
}

.brand-buckets {
	background-color: white;
	position: relative;
	z-index: 22;
	padding: 0;
}

.packaging {
	position: relative;
	background-color: white;
	z-index: 22;
	text-align: center;
	width: 100%;
}

.pack-buckets {
	background-color: white;
	position: relative;
	z-index: 22;
	padding: 0;
}

.artwork {
	position: relative;
	background-color: white;
	z-index: 22;
	text-align: center;
	width: 100%;
}

.art-buckets {
	background-color: white;
	position: relative;
	z-index: 22;
	padding: 0;
}

.motion {
	position: relative;
	background-color: white;
	z-index: 22;
	text-align: center;
	width: 100%;
}

.motion-buckets {
	background-color: white;
	position: relative;
	z-index: 22;
	padding: 0;
}

.bucket-1 {
	background-image: url(../images/temp_bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}
    
.bucket-2 {
 	background-image: url(../images/temp_bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}

.bucket-3 {
 	background-image: url(../images/temp_bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}
.bucket-4 {
 	background-image: url(../images/temp_bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}

.footer {
  background-color: black;
  background-size: 100%;
  background-repeat: repeat;
	position: relative;	
	z-index: 33;
	width: 100%;
	margin: 0 auto;
}

.footer-nav {
        text-align: right;
        padding-top: .8em;
        padding-right: 2%;
        margin: 0;
        list-style-type: none;
        overflow: hidden;
        text-decoration: none;
}

.footer li {
    margin: 0;
    display: inline-block; 
		padding-top: 1em;
		padding-bottom: 2.5em;
 }

.copy {
	text-align: center;
	padding-top: 2em;
	padding-right: 2%;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
	text-decoration: none;
	color: white;
}

.instagram {
    width: 3em;
    margin: 0;  
		padding-top: .5em;
}

.twitter {
    width: 3em; 
    margin: 0;
		padding-top: .5em;
}

.facebook {
    width: 3em;
    margin: 0; 
		padding-top: .5em;
}

.nav-b {
    margin: 0;
    color: #fff;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}


@media only screen and (min-width: 38em) {
		
}

@media only screen and (min-width: 60em) {
	
h2 {
	padding-top: 2em;
}

.branding {
	margin-top: -15em;
	}
	
.brand-buckets {
	padding: 0 10%;
}
	
.pack-buckets {
	padding: 0 10%;
}

.art-buckets {
	padding: 0 10%;
}

.motion-buckets {
	padding: 0 10%;
}

}

@media only screen and (min-width: 70em) {
	
h2 {
	padding-top: 4em;
}
	
.branding {
	margin-top: -15em;	
	}
	
.brand-buckets {
	padding: 0 15%;
}
	
.pack-buckets {
	padding: 0 15%;
}

.art-buckets {
	padding: 0 15%;
}

.motion-buckets {
	padding: 0 15%;
}
	
}























