@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	overflow: hidden;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	height: 100vh;
  margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	
	-webkit-perspective: 1px;
	perspective: 1px;
}

img {
	width: 100%;
	
}

.parallax-group {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.back {
	-webkit-transform: translateZ(-1px) scale(2);
	transform: translateZ(-1px) scale(2);
	position: relative;
	top: calc(((100vh - 84.27vw) / 4) * -2);
	z-index: 1;
	display: block;
	height: 180vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url(../images/parliament.jpg);
	background-size: cover;
  background-position: center;
	
}

.front {
	-webkit-transform: translateZ(-0.5px) scale(2.5);
	transform: translateZ(-0.5px) scale(2.5);
	position: relative;
	top: calc(((100vh - 84.27vw) / 4) * -2);
	z-index: 1;
	display: block;
	height: 30vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url(../images/Second_Building-01-01.png);
	background-size: cover;
  background-position: center;
}

.white {
	-webkit-transform: translateZ(-0.3px) scale(2.5);
	transform: translateZ(-0.3px) scale(2.5);
	position: relative;
	top: calc(((100vh - 84.27vw) / 4) * -2);
	z-index: 1;
	display: block;
	height: 30vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url(../images/white_building-01-01.png);
	background-size: cover;
  background-position: center;
}

h1 {
	-webkit-transform: translateZ(-4px) scale(4.5);
	transform: translateZ(-4px) scale(4.5);
	position: absolute;
	top: -200px;
	width: 100%;
	text-align: center;
	color: #fff;
	z-index: 3;
}

.branding {
	position: absolute;
	top: 65em;
	background-color: white;
	z-index: 22;
	text-align: center;
	width: 100%;
}

.brand-buckets {
	background-color: white;
	position: absolute;
	top: 68em;
	z-index: 22;
}

.packaging {
	position: absolute;
	top: 145em;
	background-color: white;
	z-index: 22;
	text-align: center;
	width: 100%;
}

.pack-buckets {
	background-color: white;
	position: absolute;
	top: 148em;
	z-index: 22;
}

.artwork {
	position: absolute;
	top: 225em;
	background-color: white;
	z-index: 22;
	text-align: center;
	width: 100%;
}

.art-buckets {
	background-color: white;
	position: absolute;
	top: 228em;
	z-index: 22;
}

.motion {
	position: absolute;
	top: 305em;
	background-color: white;
	z-index: 22;
	text-align: center;
	width: 100%;
}

.motion-buckets {
	background-color: white;
	position: absolute;
	top: 308em;
	z-index: 22;
}

.bucket-1 {
    background-image: url(../images/temp_bucket.jpg);
    background-size: cover;
		background-repeat: no-repeat;
		padding: 8em;
		position: relative;
		z-index: 20;
		
}
    
.bucket-2 {
    background-image: url(../images/temp_bucket.jpg);
    background-size: cover;
		background-repeat: no-repeat;
		padding: 8em;
		position: relative;
		z-index: 20;
		margin: 0 auto;
}

.bucket-3 {
    background-image: url(../images/temp_bucket.jpg);
    background-size: cover;
		background-repeat: no-repeat;
		padding: 8em;
		position: relative;
		z-index: 20;
}

.bucket-4 {
    background-image: url(../images/temp_bucket.jpg);
    background-size: cover;
		background-repeat: no-repeat;
		padding: 8em;
		position: relative;
		z-index: 20;
}

.footer {
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
		position: absolute;
		top: 385em;
		z-index: 33;
}

.footer-nav {
        text-align: right;
        padding-top: .8em;
        padding-right: 2%;
        margin: 0;
        list-style-type: none;
        overflow: hidden;
        text-decoration: none;
}

.footer li {
    margin: 0;
    display: inline-block; 
 }

.copy {
	 text-align: center;
     padding-top: .8em;
     padding-right: 2%;
     margin: 0;
     list-style-type: none;
     overflow: hidden;
     text-decoration: none;
}

.instagram {
    width: 3em;
    margin: 0;  
	padding-top: .5em;
}

.twitter {
    width: 3em; 
    margin: 0;
	padding-top: .5em;
}

.facebook {
    width: 3em;
    margin: 0; 
	padding-top: .5em;
}

.nav {
    margin: 0;
    color: #fff;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}


























