@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	overflow: hidden;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	height: 100vh;
  margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	
	-webkit-perspective: 1px;
	perspective: 1px;
}

img {
	width: 100%;
	
}

.parallax-group {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.back {
	-webkit-transform: translateZ(-1px) scale(2);
	transform: translateZ(-1px) scale(2);
	position: relative;
	top: calc(((100vh - 84.27vw) / 4) * -2);
	z-index: 1;
	display: block;
	height: 180vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url(../images/parliament.jpg);
	background-size: cover;
  background-position: center;
	
}

.front {
	-webkit-transform: translateZ(-0.5px) scale(2.5);
	transform: translateZ(-0.5px) scale(2.5);
	position: relative;
	top: calc(((100vh - 84.27vw) / 4) * -2);
	z-index: 1;
	display: block;
	height: 30vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url(../images/Second_Building-01-01.png);
	background-size: cover;
  background-position: center;
}

.white {
	-webkit-transform: translateZ(-0.3px) scale(2.5);
	transform: translateZ(-0.3px) scale(2.5);
	position: relative;
	top: calc(((100vh - 84.27vw) / 4) * -2);
	z-index: 1;
	display: block;
	height: 30vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url(../images/white_building-01-01.png);
	background-size: cover;
  background-position: center;
}

h1 {
	-webkit-transform: translateZ(-4px) scale(4.5);
	transform: translateZ(-4px) scale(4.5);
	position: absolute;
	top: -200px;
	width: 100%;
	text-align: center;
	color: #fff;
	z-index: 3;
}

h2 {
	position: absolute;
	width: 100%;
  text-align: center;
	z-index: 5;
}

.buckets {
	background-color: none;
}

.bucket-1 {
    background-image: url(../images/Aztec_3_4.jpg);
    background-size: cover;

}
    
.bucket-2 {
    background-image: url(../images/temp_bucket.jpg);
    background-size: cover;
}

.bucket-3 {
    background-image: url(../images/temp_bucket.jpg);
    background-size: cover;
}

.bucket-4 {
    background-image: url(../images/temp_bucket.jpg);
    background-size: cover;
}

.bucket-5 {
    background-image: url(../images/temp_bucket.jpg);
    background-size: cover;
}

.bucket-6 {
    background-image: url(../images/temp_bucket.jpg);
    background-size: cover;
}

.bucket-7 {
    background-image: url(../images/temp_bucket.jpg);
    background-size: cover;
}

.bucket-8 {
    background-image: url(../images/temp_bucket.jpg);
    background-size: cover;
}

.bucket-9 {
    background-image: url(../images/temp_bucket.jpg);
    background-size: cover;
}

.bucket-10 {
    background-image: url(../images/temp_bucket.jpg);
    background-size: cover;
}
























