@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	overflow: hidden;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	height: 100vh;
    margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
    background-color: #BAE2EF;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	
	-webkit-perspective: 1px;
	perspective: 1px;
}

main {
    background-color: white;
    padding-bottom: 2em;
} 

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0;
    background-color: #788E92;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    position: absolute;
    top: 0;
    z-index: 1000;
}

.rtt {
	padding-top: 2em;
    bottom: 1em;
    left: 2em;
    width: 2em;
	height: auto;
    margin: 0 auto;
}

.rtt-hover :hover  {
  transform: scale(1.5);
	-moz-transition: all 450ms ease-in;
  -o-transition: all 450ms ease-in;
  -webkit-transition: all 450ms ease-in;
  transition: all 450ms ease-in;
	z-index: 100;
	
	-webkit-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));
    -moz-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));
    -ms-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));
    -o-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));
    filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));
}


header {
	position: relative;
	z-index: 44;
	text-align: center;
	padding: 3em 0 1em;
	background-color: #afdde8;
}

.nav {
    margin: 0;
    color: #fff;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    height: 0;
    -moz-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

.nav-label {
	cursor: pointer;
	display: inline-block;
	width: 40px;
	position: absolute;
	right: 1em;
	top: 1em;
}

.nav-label img {
	display: block;
	width: 100%;
}

.nav a {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	color: #fff;
}

.nav a:hover {
	color: #08273d;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    -webkit-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.nav li:hover {
	color: #08273d;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    -webkit-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.nav-check {
	position: absolute;
	top: -3em;	
}

.nav-check:checked ~ .nav {
	height: 19em;
	transition: all 250ms linear;
}

img {
	width: 100%;
}


.parallax-group {
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.back {
    -moz-transform: translateZ(-1px) scale(2);
    -o-transform: translateZ(-1px) scale(2);
	-webkit-transform: translateZ(-1px) scale(2);
	transform: translateZ(-1px) scale(2);
	position: relative;
	top: calc(((100vh - 84.27vw) / 4) * -2);
	z-index: 1;
	display: block;
	height: 180vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url(../images/parliament_building-01.svg);
	background-size: cover;
    background-position: center;
	
}

.front {
    -moz-transform: translateZ(-0.5px) scale(2.5);
    -o-transform: translateZ(-0.5px) scale(2.5);
	-webkit-transform: translateZ(-0.5px) scale(2.5);
	transform: translateZ(-0.5px) scale(2.5);
	position: relative;
	top: calc(((100vh - 84.27vw) / 4) * -2);
	z-index: 1;
	display: block;
	height: 30vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	text-align: center;
	background-image: url(../images/Second_Building-01-01.png);
	background-size: cover;
    background-position: center;
}

.white {
    -moz-transform: translateZ(-0.3px) scale(2.5);
    -o-transform: translateZ(-0.3px) scale(2.5);
	-webkit-transform: translateZ(-0.3px) scale(2.5);
	transform: translateZ(-0.3px) scale(2.5);
	position: relative;
	top: calc(((100vh - 84.27vw) / 4) * -2);
	z-index: 1;
	display: block;
	height: 30vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url(../images/Second_Building-01-01.png);
	background-size: cover;
    background-position: center;
	
}

.lettermark {
    -moz-transform: translateZ(-4px) scale(4.5);
    -o-transform: translateZ(-4px) scale(4.5);
	-webkit-transform: translateZ(-4px) scale(4.5);
	transform: translateZ(-4px) scale(4.5);
    top: calc(((100vh - 84.27vw) / 4) * -2);
	position: absolute;
	width: 100%;
	z-index: 3000;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
	margin: 0;
}

.align-left {
    text-align: left;
}

.lightbox {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    width: 0;
}

.lightbox-container {
    background-image: url(../images/brendan-billboard.jpg);
    background-size: cover;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50px;
    bottom: 50px;
    background-color: #fff;
    box-shadow: 1px 1px 4px #000;
    z-index: 2001;
    border-radius: 16px;
}

.about-check {
	position: absolute;
	top: -3em;	
}

.about-check ~ .lightbox {
	overflow: hidden;
}


.about-check:checked ~ .lightbox {
	width: 100%;
	transition: all 350ms ease-in-out;
}


.about-label {
	cursor: pointer;
}

.close-lightbox {
	cursor: pointer;
	display: inline-block;
	width: 30px;
	position: absolute;
	right: 3em;
	top: 3em;
}

.about {
    background-color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
	position: absolute;	
	z-index: 33;
	width: 100%;
	margin: 0 auto;
    bottom: 0;
    padding-top: 2em;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.about-text {
    overflow: hidden;
    max-width: 40em;
    margin: 0 auto;
    position: relative;
    font-size: 60%;
}

.lightbox-2 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    width: 0;
}

.lightbox-container-2 {
    background-image: url(../images/steam-temp.JPG);
    background-size: cover;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50px;
    bottom: 50px;
    background-color: #fff;
    box-shadow: 1px 1px 4px #000;
    z-index: 2001;
    border-radius: 16px;
}

.about-check-2 {
	position: absolute;
	top: -3em;	
}

.about-check-2:checked ~ .lightbox-2 {
	width: 100%;
	transition: all 350ms ease-in-out;
}

.about-label-2 {
	cursor: pointer;
}

.close-lightbox-2 {
	cursor: pointer;
	display: inline-block;
	width: 30px;
	position: absolute;
	right: 3em;
	top: 3em;
}

.contact {
    background-color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
	position: absolute;	
	z-index: 33;
	width: 100%;
	margin: 0 auto;
    bottom: 0;
    padding-top: 2em;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}


.contact-nav {
    text-align: right;
    padding-top: .8em;
    padding-right: 2%;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
}

.contact li {
    margin: 0;
    display: inline-block; 
    padding-top: 1em;
    padding-bottom: 2.5em;
 }

.copy-c {
	text-align: center;
	padding-top: 2em;
	padding-right: 2%;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
	text-decoration: none;
	color: black;
}

.instagram-c {
    width: 3em;
    margin: 0;  
    padding-top: .5em;
}

.twitter-c {
    width: 3em; 
    margin: 0;
    padding-top: .5em;
}

.facebook-c {
    width: 3em;
    margin: 0; 
    padding-top: .5em;
}

.contact-b {
    margin: 0;
    color: black;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}

.swatch-1 {
    padding: 4em;
    background-color: black;
    margin-right: 17em;
    margin-left: 17em;
}

.swatch-2 {
    padding: 4em;
    background-color: black;
    margin-right: 17em;
    margin-left: 17em;
}

.swatch-3 {
    padding: 4em;
    background-color: black;
    margin-right: 17em;
    margin-left: 17em;
}

.branding {
	position: relative;
	z-index: 22;
	text-align: center;
	width: 100%;
	background-image: url(../images/white_building-01-01.png);
	background-size: cover;
	padding-top: 8em;
	margin-top: -30em;
}

.brand-buckets {
	background-color: white;
	position: relative;
	z-index: 22;
	padding: 0;
	margin-bottom: 1em;
}

.packaging {
	position: relative;
	background-color: white;
	z-index: 22;
	text-align: center;
	width: 100%;
}

.pack-buckets {
	background-color: white;
	position: relative;
	z-index: 22;
	padding: 0;
	margin-bottom: 1em;
}

.artwork {
	position: relative;
	background-color: white;
	z-index: 22;
	text-align: center;
	width: 100%;
}

.art-buckets {
	background-color: white;
	position: relative;
	z-index: 22;
	padding: 0;
	margin-bottom: 1em;
}

.motion {
	position: relative;
	background-color: white;
	z-index: 22;
	text-align: center;
	width: 100%;
}

.motion-buckets {
	background-color: white;
	position: relative;
	z-index: 22;
	padding: 0;
	margin-bottom: 1em;
}


.hover :hover {
    display: block;
    transform: scale(1.1);
	-moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-out;
	z-index: 100;
	background-image: url(../images/cirque-bucket.jpg);

	-webkit-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));
    -moz-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));
    -ms-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));
    -o-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));
    filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));
}

.steam-whistle {
	background-image: url(../images/steam-whistle-bucket.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}

.billboard-steam {
   background-image: url(../images/steam-temp.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 20;
	margin: 0 auto;
	text-align: center;
	text-decoration-line: none;
	align-content: center;
    height: 30em;;
}

.title {
    color: #fff;
    text-align: center;
    padding-top: 10%;
    font-size: 4rem;
    
    -webkit-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));
    -moz-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));
    -ms-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));
    -o-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));
    filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));
}

.brief {
	text-align: center;
    height: auto;
    overflow: hidden;
    margin: 0 auto;  
}

.piece {
	text-align: center;
    height: 40em;
    overflow: hidden;
    margin: 0 auto;
    overflow: scroll;
    border-color: aquamarine;
    border-width: 2em;
}

.sketches {	
	text-align: center;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
   
.propaganda {
 	background-image: url(../images/propaganda-bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}

.mario {
 	background-image: url(../images/mario-bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}

.minus-one {
 	background-image: url(../images/minus-one-bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}

.lexar {
	background-image: url(../images/lexar-bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}
   
.offthedome {
 	background-image: url(../images/offthedome-bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}

.cirque {
 	background-image: url(../images/cirque-bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}

.streets {
 	background-image: url(../images/the-streets-wear.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}

.frankenstein {
	background-image: url(../images/frankenstein.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}
    
.krool {
 	background-image: url(../images/krool-bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}

.immaculate {
 	background-image: url(../images/immaculate-bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}

.obiwan {
 	background-image: url(../images/obiwan-bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}

.cap-trap {
	background-image: url(../images/Wilson_Brendan_Loop_D_Loop.gif);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}
    
.bucket-2 {
 	background-image: url(../images/propaganda-bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}

.bucket-3 {
 	background-image: url(../images/mario-bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}
.bucket-4 {
 	background-image: url(../images/minus-one-bucket.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 100%;
	position: relative;
	z-index: 20;
	margin: auto 0;
	text-align: center;
	text-decoration-line: none;	
}

.footer {
    background-color: #08273d;
    background-size: 100%;
    background-repeat: repeat;
    position: relative;	
	z-index: 33;
	width: 100%;
	margin: 0 auto;
}

.footer-nav {
    text-align: right;
    padding-top: .8em;
    padding-right: 2%;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
}

.footer li {
    margin: 0;
    display: inline-block; 
    padding-top: 1em;
    padding-bottom: 2.5em;
 }

.copy {
	text-align: center;
	padding-top: 2em;
	padding-right: 2%;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
	text-decoration: none;
	color: white;
}

.instagram {
    width: 3em;
    margin: 0;  
    padding-top: .5em;
}

.twitter {
    width: 3em; 
    margin: 0;
    padding-top: .5em;
}

.facebook {
    width: 3em;
    margin: 0; 
    padding-top: .5em;
}

.nav-b {
    margin: 0;
    color: #fff;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}


@media only screen and (min-width: 38em) {
		
}

@media only screen and (min-width: 60em) {
    
.lettermark {
	width: 50%;
}
	
.nav li {
	display: inline-block;
}

.about-text {
    font-size: 100%;
    max-width: 60em;
}
	
.nav {
	height: 100%;
	margin-bottom: 1em;
	margin-top: -1em;
}
	
.nav-label {
	display: none;
}
	
h2 {
	padding-top: 2em;
}

.branding {
	margin-top: -15em;
	}
	
.brand-buckets {
	padding: 0 10%;
}
	
.pack-buckets {
	padding: 0 10%;
}

.art-buckets {
	padding: 0 10%;
}

.motion-buckets {
	padding: 0 10%;
}

}

@media only screen and (min-width: 70em) {

	
h2 {
	padding-top: 4em;
}
	
.branding {
	margin-top: -15em;	
	}
	
.front {
	margin-top: 12em;
}
	
.brand-buckets {
	padding: 0 15%;
}
	
.pack-buckets {
	padding: 0 15%;
}

.art-buckets {
	padding: 0 15%;
}

.motion-buckets {
	padding: 0 15%;
}
	
}























