---
layout: pieces
---

				<main>
        {% for pieces in site.pages %}
            {% if pieces.type == 'steam' %}
				<div class="billboard-steam"><h5 class="title">                           {{pieces.title}}</h5></div>
                    {% endif %}
        {% endfor %}
                    
        {% for pieces in site.pages %}
            {% if pieces.type == 'steam' %}
                 <h2 class="sketches pad-b" id="main">{{pieces.solution}}</h2> 
            {% endif %}
        {% endfor %}
                <div class="portfolio grid">
         {% for pieces in site.pages %}
            {% if pieces.type == 'steam' %}                        
                    <div class="piece unit unit-s-1 unit-m-1-2 unit-l-1-2 island"><img src="{{site.baseurl}}/images/{{pieces.image-1}}" alt="Steam Whistle Poster"></div>
         {% endif %}
        {% endfor %}

                    <div class="brief unit unit-s-1 unit-m-1-2 unit-l-1-2 island">
                        <h3 class="align-left">Brief:</h3>
        {% for pieces in site.pages %}
            {% if pieces.type == 'steam' %}
                        <p class="align-left">{{pieces.meta}}</p>
            {% endif %}
        {% endfor %}
                        
                        <div class="swatches"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 206 74.6" style="enable-background:new 0 0 206 74.6;" xml:space="preserve">
<style type="text/css">
    
        {% for pieces in site.pages %}
            {% if pieces.type == 'steam' %}
	.st0{fill:{{pieces.swatch-1}};}
	.st1{fill:{{pieces.swatch-2}};}
	.st2{fill:{{pieces.swatch-3}};}
        {% endif %}
        {% endfor %}
    
</style>
<rect x="9.2" y="9.2" class="st0" width="56.3" height="56.3"/>
<rect x="75.5" y="9.2" class="st1" width="56.3" height="56.3"/>
<rect x="141.9" y="9.2" class="st2" width="56.3" height="56.3"/>
</svg></div>
                    
                    </div>
                </div>
        
        <h2 class="sketches pad-b">Mock-Ups / Alternates / Sketches</h2>
                        
                <div class="work grid">
				{% for pieces in site.pages %}
                {% if pieces.type == 'steam' %}
                    <div class="sketches pad-b unit unit-s-1 unit-m-1-2 unit-l-1-2 island"><img src="{{site.baseurl}}/images/{{pieces.image-2}}" alt="Steam Whistle Poster"></div>

                    <div class="sketches unit unit-s-1 unit-m-1-2 unit-l-1-2 island"><img src="{{site.baseurl}}/images/{{pieces.image-3}}" alt="Steam Whistle Poster"></div>
                {% endif %}
                {% endfor %} 
                </div>        
        </main>
	</body>
