
{{content}}

<footer class="footer grid" id="footer" role="contentinfo"> 
        <p class="pad-t copy brand-family kilo gutter-1-2 unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-2">©&nbsp;2015&nbsp;Brendan&nbsp;Wilson&nbsp;</p>
        <ul class="footer-nav pad-t nav-b unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-2">
            <li class="instagram"><a href="http://instagram.com/_off_the_dome_"><img src="{{site.baseurl}}/images/instagram.svg" alt="instagram logo"></a></li>
            <li class="twitter"><a href="https://twitter.com/"><img src="{{site.baseurl}}/images/twitter.svg" alt="twitter logo"></a></li>
            <li class="facebook"><a href="https://www.facebook.com/shakethoseknives?ref=hl" rel="me"><img src="{{site.baseurl}}/images/facebook.svg" alt="facebook logo"></a></li>
        </ul>
</footer>