---
layout: default
---

<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Brendan Wilson Portfolio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Merriweather:400,400italic,700" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
    
	<body>
         <ul class="skip-links">
            <li><a href="#main">Jump to Main Content</a></li>
            
            <li><a href="#footer">Jump to Footer</a></li>
        </ul>
		<header>
			<nav>
				<input type="checkbox" class="nav-check" id="nav-check">
                <input type="checkbox" class="about-check" id="about-check">
                <input type="checkbox" class="about-check-2" id="about-check-2">
				<label class="nav-label" for="nav-check">
				<img class="nav-open"src="{{site.baseurl}}/images/icon-nav.svg" alt="Open Navigation"></label>
				<ul class="nav">
                    <li class="gutter"><label class="about-label" for="about-check">About Me</label></li>
					<li class="gutter tera"><a href="{{site.baseurl}}/index.html">- Back to the City -</a></li>
                    <li class="gutter"><label class="about-label-2" for="about-check-2">Contact</label></li>
				</ul>
                
                <div class="lightbox" id="about-check">
                    <div class="lightbox-container">
                        <label class="about-label close-lightbox" for="about-check"><img src="{{site.baseurl}}/images/close-01.svg" alt="Close Navigation" class="lightbox-img"></label>
                        
                        <div class="about">
                            
                            <div class="align-left about-text gutter pad-b"><h3 class="align-left">Brendan Wilson</h3>Hello! 

As I’m sure you know by now my name is Brendan Wilson, but what you don’t know just yet is that I’m addicted to design. It overwhelms my every thought and usually finds its way into my casual conversation in no time at all. Sometimes much to the chagrin of the person next to me on the bus, who probably doesn’t care that the bus add above us is littered with widows (the typography kind.)

Despite my annoyed fellow travellers, I have pursued a career in design, in one form or another, for the better part of my life, and I have come to call this pursuit Hands On Design. I am a designer who would prefer not to hash out a project hunched over a keyboard or swirling a mouse. I prefer to get my hand dirty so to speak. Always starting with a pencil and paper while looking for that idea or hook if you will, I prefer to work towards a goal not click away and hope something finds me. Building, testing and sketching are the foundations to my ideas, which have proven in the past to be my biggest assets. 

Please feel free to contact me, even if you just want to talk widows!</div></div>
                        
                    </div>
                </div>
                
                <div class="lightbox-2" id="about-check-2">
                    <div class="lightbox-container-2">
                        <label class="about-label-2 close-lightbox-2" for="about-check-2"><img src="{{site.baseurl}}/images/close-01.svg" alt="Close Navigation" class="lightbox-img"></label>  
                        
                        <div class="contact grid" id="contact"> 
                <p class="pad-t copy-c brand-family kilo gutter-1-2 unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-2">©&nbsp;2015&nbsp;Brendan&nbsp;Wilson&nbsp;</p>
                <ul class="contact-nav pad-t contact-b unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-2">
                    <li class="instagram-c"><a href="http://instagram.com/_off_the_dome_"><img src="{{site.baseurl}}/images/instagram-c.svg" alt="instagram logo"></a></li>
                    <li class="twitter-c"><a href="https://twitter.com/"><img src="{{site.baseurl}}/images/twitter-c.svg" alt="twitter logo"></a></li>
                    <li class="facebook-c"><a href="https://www.facebook.com/shakethoseknives?ref=hl"><img src="{{site.baseurl}}/images/facebook-c.svg" alt="facebook logo"></a></li>
                </ul>
                        </div>    
                    </div>
                </div>
                
			</nav>
		</header>
</body>
        
        {{content}}